@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #fafafa;
}

* {
    /* border:red 1px solid !important; */
    scroll-behavior: smooth;
}

#background {
    background-image: url('/grain.png');
    filter: opacity(0.6);
}

#heroBrochure {
    /* clip-path: inset(100px 400px); */
    background-image: linear-gradient(to top, rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0)), linear-gradient(to left,  rgba(250, 250, 250, 1), rgba(250, 250, 250, 0)), url('/sampleBrochures.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    scale: 1.1;
}

.smooth-scroll {
    transition: transform 0.2s ease;
}
